* {
  margin: 5px 0;
  padding: 0;
}

#root {
  max-width: 850px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #373737;
}

p {
  margin: 10px 0;
}

.map-container, .map-container div {
  width: 250px !important;
  height: 150px !important;
}

.map-container {
  margin: 10px auto;
}
