/*
 *******************
 * =settings
 *******************
*/

$dark-green: #283018;
$metallic-gray: #729f98;
$dark-tan: #aa863a;
$offwhite: #f0eceb;

$border-width: 2px;

/*
 *******************
 * =tools
 *******************
*/

/*
 *******************
 * =generic
 *******************
*/

* {
  font-family: sans-serif;
  color: $dark-green;
}

@media screen and (max-width: 500px) {
  body {
    font-size: small;
  }
}

/*
 *******************
 * =elements
 *******************
*/

li {
  padding-bottom: 8px;
}

a {
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: underline;
  }
  &:visited {
    color: $metallic-gray;
  }
}

table, tr {
  padding: 1px;
}

td, th {
  border: none;
  padding: 5px;
}

/*
 *******************
 * =objects
 *******************
*/

.wrapper {
  margin: auto;
  padding: 0;
  max-width: 650px;
  width: 85%;
}

.nav {
  background-color: $dark-tan;
  border-bottom: $border-width solid $dark-green;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  border-bottom: $border-width solid $dark-green;
}

.main {
  background-color: $offwhite;
  padding: 20px 10px;
}

.content {
  width: 90%;
  margin: 20px auto;
  border-top: 1px solid $dark-tan;
}

.footer {
  background-color: $dark-tan;
  border-top: $border-width solid $dark-green;
}

/*
 *******************
 * =components
 *******************
*/

.nav__links {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 0;
  padding: 0;
}

.nav__links li {
  display: inline-block;
  margin: 10px 15px;
  padding: 0;
}

.nav__links a {
  color: $offwhite;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.header__title, {
  overflow: hidden;
  background-color: $metallic-gray;
  text-align: center;
  width: 75%;
}

.header__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  border-left: $dark-green solid $border-width;
  border-bottom: $dark-green solid $border-width;
}

.content__heading {
  color: dark-green;
}

.footer__text {
  text-align: right;
  padding: 20px;
  margin: 0;
}

/*
 *******************
 * =trumps
 *******************
*/

.content:first-child {
  border: none !important;
}

.footer a {
  color: $offwhite;
}



