/*
 *******************
 * =settings
 *******************
*/

$dark-green: #283a18;
$metallic-gray: #729f98;
$dark-tan: #aa863a;
$offwhite: #f0eceb;

$border-width: 2px;
$small-col: 15%;
$large-col: 84%;

$small-break: 380px;
$large-break: 796px;

/*
 *******************
 * =tools
 *******************
*/

@import 'normalize';
@import 'rem';

/*
 *******************
 * =generic
 *******************
*/

html {
  font-family: sans-serif;
  color: $dark-green;
}

@media only screen and (max-width: $large-break) {
  body {
    @include rem(font-size, 12px);
  }
}

@media only screen and (min-width: $large-break + 1) {
  body {
    @include rem(font-size, 16px);
  }
}

/*
 *******************
 * =elements
 *******************
*/

a {
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: underline;
  }
  &:visited {
    color: $metallic-gray;
  }
}

table {
  @include rem(padding, 5px);

  td, th {
    border: 1px solid $dark-tan;
    border-radius: 10px;
    @include rem(padding, 8px);
    width: 33%;
    text-align: center;
  }
}


li {
  line-height: 1.4em;
}

/*
 *******************
 * =objects
 *******************
*/

.wrapper {
  display: flex;
  flex-wrap: wrap;
  @include rem(padding, 0);

  @media only screen and (max-width: $large-break) {
    width: 100%;
    margin: 0;
  }

  @media only screen and (min-width: $large-break + 1) {
    @include rem(max-width, 950px);
    width: 85%;
    margin: auto;
  }
}

.image {
  order: 1;
  flex: 1 1 $small-col;
  @include rem(width, $small-col);
  @include rem(height, $small-col);
  border-right: $border-width solid $dark-green;
  border-bottom: $border-width solid $dark-green;

}

.header {
  order: 2;
  display: flex;
  flex: 1 1 $large-col;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $metallic-gray;
  border-bottom: $border-width solid $dark-green;
}

.nav {
  order: 3;
  flex: 1 1 $small-col;
  background-color: $dark-tan;
  border-right: $border-width solid $dark-green;
}

.main {
  order: 4;
  display: flex;
  flex: 1 1 $large-col;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $offwhite;
}

.content {
  flex: 1 1 60%;
  width: 80%;
  @include rem(border-top, 1px solid $dark-tan);
  @include rem(padding, 15px 0);
}

.footer {
  order: 5;
  flex: 1 1 100%;
  background-color: $metallic-gray;
  border-top: $border-width solid $dark-green;
}

/*
 *******************
 * =components
 *******************
*/

.nav__links {
  display: flex;
  flex-wrap: wrap;
  @include rem(margin, 0 14px);
  padding: 0;
}

.nav__links li {
  flex: auto;
  display: inline-block;
  @include rem(margin, 5px);
}

.nav__links a {
  @include rem(font-size, 18px);
  color: $offwhite;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.header {
  h1, h2 {
    font-variant: small-caps;
    @include rem(margin, 0);
  }

  h2 em {
    text-decoration: underline;
  }
}

.content__heading {
  color: $dark-green;
  text-align: center;
}

.footer__text {
  text-align: right;
  @include rem(padding, 20px);
  margin: 0;
}

/*
 *******************
 * =trumps
 *******************
*/

.content:first-child {
  border: none !important;
}

.footer a {
  color: $offwhite;
}



